html, body{
    height: 100%;
    
}

body:before {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -10;
      background: url('../img/beach2.jpg') no-repeat center center;
      background-image: url('../img/beach2.jpg') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      transition-duration: 600ms;
      -webkit-transition-duration: 600ms;
      -moz-transition-duration: 600ms;
      -o-transition-duration: 600ms;
}

body.special:before{
      background: url('../img/bluesky.jpg') no-repeat center center;
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -10;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.fa-circle-thin, .fa-circle{
    color: #FFFFFF;
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 10px;
    position: relative;
}

.fa-circle-thin:hover, .fa-circle:hover{
/*
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
      filter: blur(1px);
*/
}

.navbar-brand{
    position: relative;
    bottom: 10px;
}

.navbar-fixed-top{
    background-color: rgba(0,0,0,0.7);
    background-color: rgba(53,92,122,1);
    background-color: rgba(47,83,110,1);
    background-color: rgba(36,63,83,1);
    padding-bottom: 1px;
    box-shadow: 0px 0px 8px 2px #909090;
    -webkit-box-shadow: 0px 0px 8px 2px #909090;
    -moz-box-shadow: 0px 0px 8px 2px #909090;  
    transition-duration: 600ms;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    -o-transition-duration: 600ms;
}

.navbar-fixed-top:hover, .navbar-fixed-top.scroll:hover{
    background-color: rgba(0,0,0,1);
    padding-bottom: 10px;
    box-shadow: 0px 0px 8px 2px #909090;
    -webkit-box-shadow: 0px 0px 8px 2px #909090;
    -moz-box-shadow: 0px 0px 8px 2px #909090;        
}


.navbar-fixed-top.scroll{
    background-color: rgba(0,0,0,1);
    background-color: rgba(36,63,83,1);
    padding-bottom: 5px;
    box-shadow: 0px 0px 8px 2px #909090;
    -webkit-box-shadow: 0px 0px 8px 2px #909090;
    -moz-box-shadow: 0px 0px 8px 2px #909090;        
}

.background{
    position: relative;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

.background-img{
    background-image: url("../img/beach2.jpg");
}

.navbar-brand{
    position: relative;
    left: 100px;
}

.navbar-brand img{
    display: inline-block;
}

.nav>li>a{
/*    color: #909090;*/
    
}

/*
.nav>li>a:hover{
    color: #000000;
}
*/

@media screen and (min-width:1000px){
    .nav-pills{
        float: right;
        position: relative;
        top: 20px;
        right: 100px;
    }
}

@media screen and (max-width:1000px){
    .nav-pills{
        float: right;
        position: relative;
        top: 20px;
        right:0px;
    }
}

#myNavbar .nav-pills{
    position: relative;
    top: 15px;
    right: 10%;
}

.nav-pills>li{
    margin-right: 30px;    
}

.nav-pills>li>a{
/*    color: #909090;*/
    color: #FFFFFF;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
}

.nav-pills>li.active>a, 
    .nav-pills>li.active>a:focus, 
    .nav-pills>li.active>a:hover, 
    .nav-pills>li>a:hover{
            background-color: #eee;
            color: #000000;
            transition-duration: 500ms;
            -webkit-transition-duration: 500ms;
            -moz-transition-duration: 500ms;
            -o-transition-duration: 500ms;
}

.navbar-toggle .icon-bar{
    background-color: #909090;
}

.jumbotron{
    background-color: transparent;
    padding-bottom: 250px;
/*    min-height: 100vh;*/
}

.jumbotron .row{
    position: relative;
    top: 65px;
    bottom:0px;
    margin-left: auto;
}

.jumbotron .row img{
    height: 150px;
    widows: 150px;
    margin: auto;
}

.jumbotron h1{
    position: relative;
    bottom: 5px;
    color: #210f5d;
    font-size: 36pt;
}

.jumbotron .row p{
    font-size: 13pt;
    color: #210f5d;
    margin-left:100px;
    margin-top: 3px;
}


.socialmedia{
    position: fixed;
    left: 0%;
    top:36%;
}

.socialmedia i{
    color: #FFFFFF;
}

.socialmedia li{
    margin-bottom: 10px;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -ms-transition: 500ms;
}

.socialmedia li:hover, .socialmedia ul.nav-pills>li.active>a, 
    .socialmedia ul.nav-pills>li.active>a:focus, 
    .socialmedia ul.nav-pills>li.active>a:hover, 
    .socialmedia ul.nav-pills>li>a:hover{
    transform: scale(1.3);
    margin-bottom: 20px;
    margin-top: 20px;
/*    color: transparent; !important;*/
    background-color: transparent !important;
}

.contentscrollspy{
    position: fixed;
    top: 25%;
    left: 92%;
    margin-right: 5%;
}

.contentscrollspy li a, .contentscrollspy li.active a{
/*    font-size: 11pt;*/
    color: #000000;
}


#about, #services, #network, #tracking, #contact{
    display: none;
    background-color: aliceblue;
    border-radius: 25px;
    padding-bottom: 100px;
    position:relative;
/*    top: 102px;*/
    top: 80px;
    width: 70%;
}


p{
    font-size: 14pt;
    color: #909090;
}

#tracking img{
    height: 10%;
    width: 10%;
    margin: auto;
    align: middle;
}




.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
/*    padding-bottom: .5em;*/
    padding-bottom: 3px;
    border-bottom: 1px solid #e1e1e1;
}

.floating-label-form-group input, .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    padding-top: 40px;
    padding-bottom: 25px;
    border: 0;
    border-radius: 0;
/*    font-size: 1.5em;*/
/*    font-family: 'Poiret One', cursive;*/
/*    font-weight: bold;*/
    font-size: 13pt;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.form-group label{
/*  margin-left: 0px;*/
/*  background: #fff;*/
  color: #0033CC;
  font-weight: bold;
  padding: 2px 5px;
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  z-index: 999;
  margin-top: 15px;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.form-group label.visible {
  transition: all 0.3s ease-out;
  opacity: 1;
  margin-top: 5px;
}

.activeTab{
    color: #000000 !important;
    background-color: #eee;
}

#learnmorebutton, #submitbutton {
    background-color: Transparent;
    font-size: 18pt;
    color: #909090;
    border-style: solid;
    border-width: 2px;
    border-color: #909090;
    position: relative;
    top: 30px;
    left: 42%;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -ms-transition: 500ms;
}

#learnmorebutton{
    color: #FFFFFF;
    border-color: #FFFFFF;
    margin:auto;
    left: 44%;
}

#learnmorebutton:hover, #submitbutton:hover{
    color: #e5eaee;
    border-color: #e5eaee;
    background-color: #5865c3;
}




#email{
    text-decoration: none;
    font-size:14pt; 
    color:#909090;
}

#contact a:hover{
    color: red;
}



footer{
    bottom:0;
    margin: auto;
    margin-top: 170px;
}

footer p{
    font-size: 9pt;
}

.row{
    margin: auto;
    border-radius: 25px;
    transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
}






























